In [1]:
import pandas as pd

In [2]:
# uploading csv files, each file is single season
season20 = pd.read_csv("E1.csv")
season19 = pd.read_csv("E 19:20.csv")
season18 = pd.read_csv("E 18:19.csv")
season17 = pd.read_csv("E 17:18.csv")
season16 = pd.read_csv("E 16:17.csv")

In [3]:
# concatinating seasons in a single data
data=pd.concat([season16, season17, season18,season19,season20], axis=0)

In [4]:
data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [5]:
data.reset_index(drop=True)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
1896,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
1897,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
1898,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
1899,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [6]:
# http://football-data.co.uk/notes.txt

In [7]:
column_list = list(data.columns)

In [8]:
column_list

['Div',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'Bb1X2',
 'BbMxH',
 'BbAvH',
 'BbMxD',
 'BbAvD',
 'BbMxA',
 'BbAvA',
 'BbOU',
 'BbMx>2.5',
 'BbAv>2.5',
 'BbMx<2.5',
 'BbAv<2.5',
 'BbAH',
 'BbAHh',
 'BbMxAHH',
 'BbAvAHH',
 'BbMxAHA',
 'BbAvAHA',
 'PSCH',
 'PSCD',
 'PSCA',
 'Time',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [9]:
newlist_columns = ['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee',
                  'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'MaxH', 'MaxD', 'MaxA',
                  'Max>2.5','Max<2.5',  ]

In [10]:
removed_list = data.drop(newlist_columns, axis=1)
removed_list

,Div,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2.40,3.3,3.25,2.45,3.1,2.95,2.50,3.30,2.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2.00,3.3,4.50,2.00,3.2,3.90,2.10,3.30,3.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,3.20,3.4,2.40,2.95,3.2,2.40,2.65,3.30,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,4.50,3.6,1.91,4.33,3.4,1.90,3.30,3.30,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,1.25,6.5,15.00,1.22,6.0,11.50,1.25,5.50,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,1.14,8.5,15.00,1.16,8.0,16.50,1.15,8.25,16.00,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,1.44,5.0,6.50,1.44,5.0,6.50,1.47,4.90,6.00,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,2.80,3.6,2.40,2.80,3.6,2.40,2.85,3.60,2.40,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,1.65,4.0,5.00,1.72,4.0,4.60,1.70,4.10,4.60,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,2.50,3.5,2.70,2.50,3.6,2.70,2.55,3.60,2.65,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [11]:
#removing columns which we dont need
data.drop(removed_list, axis=1, inplace=True)
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HY,AY,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,3,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,2,2,0,0,16:00,1.19,9.00,20.00,1.41,3.25
376,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,2,2,0,0,16:00,1.48,5.25,7.40,1.68,2.43
377,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,3,1,0,0,16:00,2.90,3.76,2.48,1.80,2.21
378,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,3,0,0,16:00,1.76,4.18,5.04,1.70,2.40
379,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,4,1,0,0,16:00,2.63,3.78,2.81,1.81,2.26

In [17]:
data.to_csv("data.csv")

In [18]:
data["Home_points"]=3
data["Away_points"]=3

In [30]:
data= data.reset_index(drop=True)

In [34]:
for index, row in data["FTR"].items():   
    
    if row=="A":
        data["Away_points"][index]=3
        data["Home_points"][index]=0
    elif row=="D":
        data["Away_points"][index]=1
        data["Home_points"][index]=1
    elif row=="H":
        data["Away_points"][index]=0
        data["Home_points"][index]=3

/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=3
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=0
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=1
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=1
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=0
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_58913/4089816939.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=3

In [35]:
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5,Home_points,Away_points
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,0,0,16:00,1.19,9.00,20.00,1.41,3.25,3,0
1896,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,0,0,16:00,1.48,5.25,7.40,1.68,2.43,3,0
1897,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,0,0,16:00,2.90,3.76,2.48,1.80,2.21,3,0
1898,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,0,16:00,1.76,4.18,5.04,1.70,2.40,3,0
1899,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,0,0,16:00,2.63,3.78,2.81,1.81,2.26,0,3

In [38]:
home=data.groupby(["HomeTeam"])["Home_points"].sum()

In [39]:
away=data.groupby(["AwayTeam"])["Away_points"].sum()

In [40]:
total=home+away

In [41]:
total

HomeTeam
Arsenal             325
Aston Villa          90
Bournemouth         169
Brighton            158
Burnley             227
Cardiff              34
Chelsea             368
Crystal Palace      221
Everton             272
Fulham               54
Huddersfield         53
Hull                 34
Leeds                59
Leicester           271
Liverpool           416
Man City            443
Man United          356
Middlesbrough        28
Newcastle           178
Norwich              21
Sheffield United     77
Southampton         216
Stoke                77
Sunderland           24
Swansea              74
Tottenham           355
Watford             165
West Brom           102
West Ham            243
Wolves              161
dtype: int64

In [42]:
homecount=data.groupby(["HomeTeam"])["Home_points"].count()

In [44]:
awaycount=data.groupby(["AwayTeam"])["Away_points"].count()

In [45]:
total_played=homecount+awaycount
total_played

HomeTeam
Arsenal             190
Aston Villa          76
Bournemouth         152
Brighton            152
Burnley             190
Cardiff              38
Chelsea             190
Crystal Palace      190
Everton             190
Fulham               76
Huddersfield         76
Hull                 38
Leeds                38
Leicester           190
Liverpool           190
Man City            190
Man United          190
Middlesbrough        38
Newcastle           152
Norwich              38
Sheffield United     76
Southampton         190
Stoke                76
Sunderland           38
Swansea              76
Tottenham           190
Watford             152
West Brom           114
West Ham            190
Wolves              114
dtype: int64

In [46]:
ppg=total/total_played

In [47]:
ppg

HomeTeam
Arsenal             1.710526
Aston Villa         1.184211
Bournemouth         1.111842
Brighton            1.039474
Burnley             1.194737
Cardiff             0.894737
Chelsea             1.936842
Crystal Palace      1.163158
Everton             1.431579
Fulham              0.710526
Huddersfield        0.697368
Hull                0.894737
Leeds               1.552632
Leicester           1.426316
Liverpool           2.189474
Man City            2.331579
Man United          1.873684
Middlesbrough       0.736842
Newcastle           1.171053
Norwich             0.552632
Sheffield United    1.013158
Southampton         1.136842
Stoke               1.013158
Sunderland          0.631579
Swansea             0.973684
Tottenham           1.868421
Watford             1.085526
West Brom           0.894737
West Ham            1.278947
Wolves              1.412281
dtype: float64

In [48]:
ppg.to_csv("ppg.csv")

In [49]:
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5,Home_points,Away_points
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,0,0,16:00,1.19,9.00,20.00,1.41,3.25,3,0
1896,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,0,0,16:00,1.48,5.25,7.40,1.68,2.43,3,0
1897,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,0,0,16:00,2.90,3.76,2.48,1.80,2.21,3,0
1898,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,0,16:00,1.76,4.18,5.04,1.70,2.40,3,0
1899,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,0,0,16:00,2.63,3.78,2.81,1.81,2.26,0,3

In [50]:
home_goals=data.groupby(["HomeTeam"])["FTHG"].sum()

In [51]:
away_goals=data.groupby(["AwayTeam"])["FTAG"].sum()

In [52]:
total_goals= home_goals + away_goals
total_goals

HomeTeam
Arsenal             335
Aston Villa          96
Bournemouth         196
Brighton            148
Burnley             196
Cardiff              34
Chelsea             337
Crystal Palace      218
Everton             251
Fulham               61
Huddersfield         50
Hull                 37
Leeds                62
Leicester           290
Liverpool           404
Man City            466
Man United          326
Middlesbrough        27
Newcastle           165
Norwich              26
Sheffield United     59
Southampton         221
Stoke                76
Sunderland           29
Swansea              73
Tottenham           356
Watford             172
West Brom           109
West Ham            258
Wolves              134
dtype: int64

In [53]:
goal_per_game= total_goals/total_played

In [54]:
goal_per_game

HomeTeam
Arsenal             1.763158
Aston Villa         1.263158
Bournemouth         1.289474
Brighton            0.973684
Burnley             1.031579
Cardiff             0.894737
Chelsea             1.773684
Crystal Palace      1.147368
Everton             1.321053
Fulham              0.802632
Huddersfield        0.657895
Hull                0.973684
Leeds               1.631579
Leicester           1.526316
Liverpool           2.126316
Man City            2.452632
Man United          1.715789
Middlesbrough       0.710526
Newcastle           1.085526
Norwich             0.684211
Sheffield United    0.776316
Southampton         1.163158
Stoke               1.000000
Sunderland          0.763158
Swansea             0.960526
Tottenham           1.873684
Watford             1.131579
West Brom           0.956140
West Ham            1.357895
Wolves              1.175439
dtype: float64