In [1]:
import pandas as pd

In [2]:
# uploading csv files, each file is single season
season20 = pd.read_csv("E1.csv")
season19 = pd.read_csv("E 19:20.csv")
season18 = pd.read_csv("E 18:19.csv")
season17 = pd.read_csv("E 17:18.csv")
season16 = pd.read_csv("E 16:17.csv")

In [3]:
# concatinating seasons in a single data
data=pd.concat([season16, season17, season18,season19,season20], axis=0)

In [4]:
data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [5]:
data.reset_index(drop=True)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
1896,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
1897,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
1898,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
1899,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [6]:
# http://football-data.co.uk/notes.txt

In [7]:
column_list = list(data.columns)

In [8]:
column_list

['Div',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'Bb1X2',
 'BbMxH',
 'BbAvH',
 'BbMxD',
 'BbAvD',
 'BbMxA',
 'BbAvA',
 'BbOU',
 'BbMx>2.5',
 'BbAv>2.5',
 'BbMx<2.5',
 'BbAv<2.5',
 'BbAH',
 'BbAHh',
 'BbMxAHH',
 'BbAvAHH',
 'BbMxAHA',
 'BbAvAHA',
 'PSCH',
 'PSCD',
 'PSCA',
 'Time',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [9]:
newlist_columns = ['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee',
                  'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'MaxH', 'MaxD', 'MaxA',
                  'Max>2.5','Max<2.5',  ]

In [10]:
removed_list = data.drop(newlist_columns, axis=1)
removed_list

,Div,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2.40,3.3,3.25,2.45,3.1,2.95,2.50,3.30,2.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2.00,3.3,4.50,2.00,3.2,3.90,2.10,3.30,3.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,3.20,3.4,2.40,2.95,3.2,2.40,2.65,3.30,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,4.50,3.6,1.91,4.33,3.4,1.90,3.30,3.30,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,1.25,6.5,15.00,1.22,6.0,11.50,1.25,5.50,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,1.14,8.5,15.00,1.16,8.0,16.50,1.15,8.25,16.00,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,1.44,5.0,6.50,1.44,5.0,6.50,1.47,4.90,6.00,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,2.80,3.6,2.40,2.80,3.6,2.40,2.85,3.60,2.40,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,1.65,4.0,5.00,1.72,4.0,4.60,1.70,4.10,4.60,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,2.50,3.5,2.70,2.50,3.6,2.70,2.55,3.60,2.65,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [11]:
#removing columns which we dont need
data.drop(removed_list, axis=1, inplace=True)
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HY,AY,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,3,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,2,2,0,0,16:00,1.19,9.00,20.00,1.41,3.25
376,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,2,2,0,0,16:00,1.48,5.25,7.40,1.68,2.43
377,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,3,1,0,0,16:00,2.90,3.76,2.48,1.80,2.21
378,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,3,0,0,16:00,1.76,4.18,5.04,1.70,2.40
379,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,4,1,0,0,16:00,2.63,3.78,2.81,1.81,2.26

In [12]:
data.to_csv("data.csv")

In [13]:
data["Home_points"]=3
data["Away_points"]=3

In [14]:
data= data.reset_index(drop=True)

In [15]:
for index, row in data["FTR"].items():   
    
    if row=="A":
        data["Away_points"][index]=3
        data["Home_points"][index]=0
    elif row=="D":
        data["Away_points"][index]=1
        data["Home_points"][index]=1
    elif row=="H":
        data["Away_points"][index]=0
        data["Home_points"][index]=3

/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=3
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=0
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=1
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=1
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Away_points"][index]=0
/var/folders/xw/scy5flt94d56tjrc4x62mjrc0000gn/T/ipykernel_1317/4089816939.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Home_points"][index]=3

In [16]:
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5,Home_points,Away_points
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,0,0,16:00,1.19,9.00,20.00,1.41,3.25,3,0
1896,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,0,0,16:00,1.48,5.25,7.40,1.68,2.43,3,0
1897,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,0,0,16:00,2.90,3.76,2.48,1.80,2.21,3,0
1898,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,0,16:00,1.76,4.18,5.04,1.70,2.40,3,0
1899,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,0,0,16:00,2.63,3.78,2.81,1.81,2.26,0,3

In [17]:
home=data.groupby(["HomeTeam"])["Home_points"].sum()

In [18]:
away=data.groupby(["AwayTeam"])["Away_points"].sum()

In [19]:
total=home+away

In [20]:
total

HomeTeam
Arsenal             325
Aston Villa          90
Bournemouth         169
Brighton            158
Burnley             227
Cardiff              34
Chelsea             368
Crystal Palace      221
Everton             272
Fulham               54
Huddersfield         53
Hull                 34
Leeds                59
Leicester           271
Liverpool           416
Man City            443
Man United          356
Middlesbrough        28
Newcastle           178
Norwich              21
Sheffield United     77
Southampton         216
Stoke                77
Sunderland           24
Swansea              74
Tottenham           355
Watford             165
West Brom           102
West Ham            243
Wolves              161
dtype: int64

In [21]:
homecount=data.groupby(["HomeTeam"])["Home_points"].count()

In [22]:
awaycount=data.groupby(["AwayTeam"])["Away_points"].count()

In [23]:
total_played=homecount+awaycount
total_played

HomeTeam
Arsenal             190
Aston Villa          76
Bournemouth         152
Brighton            152
Burnley             190
Cardiff              38
Chelsea             190
Crystal Palace      190
Everton             190
Fulham               76
Huddersfield         76
Hull                 38
Leeds                38
Leicester           190
Liverpool           190
Man City            190
Man United          190
Middlesbrough        38
Newcastle           152
Norwich              38
Sheffield United     76
Southampton         190
Stoke                76
Sunderland           38
Swansea              76
Tottenham           190
Watford             152
West Brom           114
West Ham            190
Wolves              114
dtype: int64

In [24]:
ppg=total/total_played

In [25]:
ppg

HomeTeam
Arsenal             1.710526
Aston Villa         1.184211
Bournemouth         1.111842
Brighton            1.039474
Burnley             1.194737
Cardiff             0.894737
Chelsea             1.936842
Crystal Palace      1.163158
Everton             1.431579
Fulham              0.710526
Huddersfield        0.697368
Hull                0.894737
Leeds               1.552632
Leicester           1.426316
Liverpool           2.189474
Man City            2.331579
Man United          1.873684
Middlesbrough       0.736842
Newcastle           1.171053
Norwich             0.552632
Sheffield United    1.013158
Southampton         1.136842
Stoke               1.013158
Sunderland          0.631579
Swansea             0.973684
Tottenham           1.868421
Watford             1.085526
West Brom           0.894737
West Ham            1.278947
Wolves              1.412281
dtype: float64

In [26]:
ppg.to_csv("ppg.csv")

In [27]:
data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HR,AR,Time,MaxH,MaxD,MaxA,Max>2.5,Max<2.5,Home_points,Away_points
0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,J Moss,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,C Pawson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,3
2,13/08/16,Everton,Tottenham,1,1,D,1,0,H,M Atkinson,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,13/08/16,Hull,Leicester,2,1,H,1,0,H,M Dean,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,13/08/16,Man City,Sunderland,2,1,H,1,0,H,R Madley,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,C Pawson,...,0,0,16:00,1.19,9.00,20.00,1.41,3.25,3,0
1896,23/05/2021,Man City,Everton,5,0,H,2,0,H,M Oliver,...,0,0,16:00,1.48,5.25,7.40,1.68,2.43,3,0
1897,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,K Friend,...,0,0,16:00,2.90,3.76,2.48,1.80,2.21,3,0
1898,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,M Atkinson,...,0,0,16:00,1.76,4.18,5.04,1.70,2.40,3,0
1899,23/05/2021,Wolves,Man United,1,2,A,1,2,A,M Dean,...,0,0,16:00,2.63,3.78,2.81,1.81,2.26,0,3

In [28]:
home_goals=data.groupby(["HomeTeam"])["FTHG"].sum()

In [29]:
away_goals=data.groupby(["AwayTeam"])["FTAG"].sum()

In [30]:
total_goals= home_goals + away_goals
total_goals

HomeTeam
Arsenal             335
Aston Villa          96
Bournemouth         196
Brighton            148
Burnley             196
Cardiff              34
Chelsea             337
Crystal Palace      218
Everton             251
Fulham               61
Huddersfield         50
Hull                 37
Leeds                62
Leicester           290
Liverpool           404
Man City            466
Man United          326
Middlesbrough        27
Newcastle           165
Norwich              26
Sheffield United     59
Southampton         221
Stoke                76
Sunderland           29
Swansea              73
Tottenham           356
Watford             172
West Brom           109
West Ham            258
Wolves              134
dtype: int64

In [31]:
goal_per_game= total_goals/total_played

In [32]:
goal_per_game

HomeTeam
Arsenal             1.763158
Aston Villa         1.263158
Bournemouth         1.289474
Brighton            0.973684
Burnley             1.031579
Cardiff             0.894737
Chelsea             1.773684
Crystal Palace      1.147368
Everton             1.321053
Fulham              0.802632
Huddersfield        0.657895
Hull                0.973684
Leeds               1.631579
Leicester           1.526316
Liverpool           2.126316
Man City            2.452632
Man United          1.715789
Middlesbrough       0.710526
Newcastle           1.085526
Norwich             0.684211
Sheffield United    0.776316
Southampton         1.163158
Stoke               1.000000
Sunderland          0.763158
Swansea             0.960526
Tottenham           1.873684
Watford             1.131579
West Brom           0.956140
West Ham            1.357895
Wolves              1.175439
dtype: float64

In [33]:
goal_per_game.to_csv("goal_per_game.csv")

In [66]:
home_attacks=data.groupby(["HomeTeam"])["HST"].sum()
away_attacks=data.groupby(["AwayTeam"])["AST"].sum()
total_attack= home_attacks + away_attacks
total_attack

HomeTeam
Arsenal              907
Aston Villa          337
Bournemouth          602
Brighton             511
Burnley              626
Cardiff              126
Chelsea             1054
Crystal Palace       686
Everton              793
Fulham               285
Huddersfield         229
Hull                 127
Leeds                199
Leicester            852
Liverpool           1140
Man City            1220
Man United          1044
Middlesbrough        100
Newcastle            565
Norwich              131
Sheffield United     214
Southampton          833
Stoke                268
Sunderland           121
Swansea              250
Tottenham            999
Watford              547
West Brom            349
West Ham             756
Wolves               450
dtype: int64

In [68]:
shots_pg=total_attack/total_played
shots_pg.sort_values(ascending=False).head(5)

HomeTeam
Man City      6.421053
Liverpool     6.000000
Chelsea       5.547368
Man United    5.494737
Tottenham     5.257895
dtype: float64

In [ ]:
goal_per_game.to_csv("goal_per_game.csv")

In [36]:
season16stats = pd.read_csv("pl_16-17.csv")
season17stats = pd.read_csv("pl_17-18.csv")
season18stats = pd.read_csv("pl_18-19.csv")
season19stats = pd.read_csv("pl_19-20.csv")
season20stats = pd.read_csv("pl_20-21.csv")

In [37]:
dataset=pd.concat([season16stats, season17stats, season18stats,season19stats,season20stats], axis=0)

In [38]:
dataset=dataset.reset_index()

In [39]:
dataset.columns

Index(['index', 'Unnamed: 0', 'Name', 'Position', 'Appearances',
       'Clean sheets', 'Goals conceded', 'Tackles', 'Tackle success %',
       'Last man tackles', 'Blocked shots', 'Interceptions', 'Clearances',
       'Headed Clearance', 'Clearances off line', 'Recoveries', 'Duels won',
       'Duels lost', 'Successful 50/50s', 'Aerial battles won',
       'Aerial battles lost', 'Own goals', 'Errors leading to goal', 'Assists',
       'Passes', 'Passes per match', 'Big chances created', 'Crosses',
       'Cross accuracy %', 'Through balls', 'Accurate long balls',
       'Yellow cards', 'Red cards', 'Fouls', 'Offsides', 'Goals',
       'Headed goals', 'Goals with right foot', 'Goals with left foot',
       'Hit woodwork', 'Goals per match', 'Penalties scored',
       'Freekicks scored', 'Shots', 'Shots on target', 'Shooting accuracy %',
       'Big chances missed', 'Saves', 'Penalties saved', 'Punches',
       'High Claims', 'Catches', 'Sweeper clearances', 'Throw outs',
       'Goal Kicks', 'Goals Conceded', 'Big Chances Created',
       'Penalties Saved'],
      dtype='object')

In [40]:
dataset['Successful 50/50s']

0        0.0
1        0.0
2        NaN
3       12.0
4       19.0
        ...
4347    19.0
4348     NaN
4349     2.0
4350     NaN
4351    13.0
Name: Successful 50/50s, Length: 4352, dtype: float64

In [41]:
rem_list=['index', 'Unnamed: 0', 'Clean sheets', 'Goals conceded', 'Last man tackles', "Blocked shots", 
          'Headed Clearance', 'Clearances off line', 'Recoveries', 'Successful 50/50s', 'Duels lost', 
          'Headed goals','Aerial battles lost', 'Own goals', 'Through balls', 'Yellow cards', 'Red cards', 'Fouls',
          'Offsides','Goals with right foot', 'Goals with left foot','Hit woodwork', 'Goals per match','Throw outs',
          'Goal Kicks','Shooting accuracy %','Big chances missed','Punches','High Claims','Catches',
          'Sweeper clearances','Big Chances Created','Penalties Saved', "Interceptions", "Clearances"
         ]

In [42]:
dataset.drop(rem_list, axis=1, inplace=True)

In [43]:
dataset

,Name,Position,Appearances,Tackles,Tackle success %,Duels won,Aerial battles won,Errors leading to goal,Assists,Passes,...,Cross accuracy %,Accurate long balls,Goals,Penalties scored,Freekicks scored,Shots,Shots on target,Saves,Penalties saved,Goals Conceded
0,Almen Abdi,Midfielder,0,0.0,0%,0.0,0.0,0.0,0,0,...,0%,0.0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,Abdul Rahman Baba,Defender,0,0.0,0%,0.0,0.0,0.0,0,0,...,0%,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tammy Abraham,Forward,0,0.0,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,Charlie Adam,Midfielder,24,19.0,79%,90.0,33.0,1.0,3,868,...,32%,97.0,1,1.0,0.0,40.0,11.0,NaN,NaN,NaN
4,Adam Clayton,Midfielder,34,79.0,71%,158.0,20.0,1.0,2,"1,450",...,35%,113.0,0,0.0,0.0,11.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4347,Hakim Ziyech,Midfielder,23,14.0,71%,53.0,5.0,0.0,3,666,...,19%,25.0,2,0.0,0.0,35.0,13.0,NaN,NaN,NaN
4348,Kenneth Zohore,Forward,0,0.0,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4349,Kurt Zouma,Defender,24,16.0,63%,108.0,87.0,0.0,0,"1,775",...,0%,91.0,5,NaN,NaN,NaN,NaN,NaN,NaN,25.0
4350,Oliwer Zych,Goalkeeper,0,NaN,NaN,NaN,NaN,0.0,0,0,...,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,NaN,0.0
4351,Martin Ødegaard,Midfielder,14,9.0,33%,33.0,3.0,0.0,2,496,...,28%,13.0,1,0.0,0.0,15.0,3.0,NaN,NaN,NaN

In [44]:
Tackles=dataset.groupby(["Name"])["Tackles"].sum()

In [45]:
Tackles.sort_values(ascending=False).head(10)

Name
Wilfred Ndidi             573.0
N'Golo Kanté              437.0
Oriol Romeu               415.0
César Azpilicueta         408.0
Idrissa Gueye             394.0
Aaron Wan-Bissaka         375.0
James McArthur            346.0
Pierre-Emile Højbjerg     338.0
Cheikhou Kouyaté          330.0
Luka Milivojevic          329.0
Name: Tackles, dtype: float64

In [46]:
Appearances=dataset.groupby(["Name"])["Appearances"].sum()
Appearances.sort_values(ascending=False).head(10)

Name
Roberto Firmino         180
Georginio Wijnaldum     179
Kasper Schmeichel       177
Jamie Vardy             175
César Azpilicueta       175
David de Gea            174
Jordan Pickford         174
Gylfi Sigurdsson        174
Lukasz Fabianski        173
Harry Maguire           170
Name: Appearances, dtype: int64

In [47]:
tackles_pg=Tackles/Appearances
tackles_pg.sort_values(ascending=False).head(10)

Name
Josh Harrop           6.000000
Mile Jedinak          6.000000
Henri Saivet          5.000000
Demetri Mitchell      5.000000
Badou Ndiaye          4.076923
Idrissa Gueye         3.979798
Wilfred Ndidi         3.924658
Jon Flanagan          3.833333
Ricardo Pereira       3.435897
Aaron Wan-Bissaka     3.378378
dtype: float64

In [48]:
Duels=dataset.groupby(["Name"])["Duels won"].sum()
Duels.sort_values(ascending=False).head(10)

Name
Wilfred Ndidi         1235.0
James Tarkowski       1133.0
Harry Maguire         1075.0
Paul Pogba             985.0
Cheikhou Kouyaté       982.0
Ben Mee                958.0
Michael Keane          934.0
Oriol Romeu            918.0
Michail Antonio        917.0
César Azpilicueta      910.0
Name: Duels won, dtype: float64

In [49]:
Duels_pg=Duels/Appearances
Duels_pg.sort_values(ascending=False).head(10)

Name
Mile Jedinak         13.000000
Jimmy Dunne          10.000000
Tomas Soucek          9.254902
Demetri Mitchell      9.000000
Sean Morrison         8.470588
Wilfred Ndidi         8.458904
Jack Grealish         8.387097
Josh Harrop           8.000000
Ricardo Pereira       7.961538
Okay Yokuslu          7.875000
dtype: float64

In [50]:
Assists=dataset.groupby(["Name"])["Assists"].sum()
assists_top5=Assists.sort_values(ascending=False).head(5)

In [51]:
assists_top5.to_csv("assists.csv")

In [52]:
dataset["Passes"] = dataset["Passes"].str.replace(r',', '')

In [53]:
dataset["Passes"] = dataset["Passes"].astype(str).astype(int)

In [54]:
Passes=dataset.groupby(["Name"])["Passes"].sum()
passes_pg=Passes/Appearances
passes_pg=passes_pg.sort_values(ascending=False).head(5)

In [55]:
passes_pg.to_csv("passes.csv")

In [56]:
Goals=dataset.groupby(["Name"])["Goals"].sum()

Goals=Goals.sort_values(ascending=False).head(5)

In [57]:
Goals.to_csv("Goals.csv")

In [58]:
dataset.columns

Index(['Name', 'Position', 'Appearances', 'Tackles', 'Tackle success %',
       'Duels won', 'Aerial battles won', 'Errors leading to goal', 'Assists',
       'Passes', 'Passes per match', 'Big chances created', 'Crosses',
       'Cross accuracy %', 'Accurate long balls', 'Goals', 'Penalties scored',
       'Freekicks scored', 'Shots', 'Shots on target', 'Saves',
       'Penalties saved', 'Goals Conceded'],
      dtype='object')

In [65]:

Saves=dataset.groupby(["Name"])['Penalties saved'].sum()

Saves=Saves.sort_values(ascending=False).head(10)
Saves

Name
Lukasz Fabianski         6.0
Kasper Schmeichel        4.0
Jordan Pickford          4.0
Hugo Lloris              3.0
Simon Mignolet           3.0
Jonas Lössl              3.0
Neil Etheridge           3.0
Rui Patrício             2.0
Maarten Stekelenburg     2.0
Fraser Forster           2.0
Name: Penalties saved, dtype: float64